---
import AstroIcon from "../../assets/icons/astro-icon.astro";
import ExpressIcon from "../../assets/icons/express-icon.astro";
import JavascriptIcon from "../../assets/icons/javascript-icon.astro";
import NextjsIcon from "../../assets/icons/nextjs-icon.astro";
import NodejsIcon from "../../assets/icons/nodejs-icon.astro";
import PostgresqlIcon from "../../assets/icons/postgresql-icon.astro";
import ReactIcon from "../../assets/icons/react-icon.astro";
import ReduxIcon from "../../assets/icons/redux-icon.astro";
import SequelizeIcon from "../../assets/icons/sequelize-icon.astro";
import TailwindcssIcon from "../../assets/icons/tailwindcss-icon.astro";
---

<section id="technologies" class="mx-auto max-w-6xl mb-6 p-4 md:mt-8 lg:p-0">
  <header class="mb-3 flex items-center space-x-4">
    <h1 class="text-2xl font-semibold text-gray-300">Tenologías</h1>
  </header>

  <main class="grid grid-cols-2 gap-4 md:grid-cols-6">
    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div>
        <ReactIcon />
      </div>
      <h1>React</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div>
        <AstroIcon />
      </div>
      <h1>Astro</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div><NextjsIcon /></div><h1>Next.js</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div><JavascriptIcon /></div><h1>JavaScript</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div><NodejsIcon /></div><h1>Node.js</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 md:text-center lg:text-start"
    >
      <div><TailwindcssIcon /></div><h1>Tailwind CSS</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div><PostgresqlIcon /></div><h1>PostgreSQL</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div><SequelizeIcon /></div><h1>Sequelize</h1>
    </div>

    <div
      class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
    >
      <div><ReduxIcon /></div><h1>Redux</h1>
    </div>

    <div
    class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4"
  >
    <div><ExpressIcon /></div><h1>Express</h1>
  </div>
  </main>
</section>
