---
import Footer from '../components/widgets/footer.astro';
import Hero from '../components/widgets/hero.astro';
import Projects from "../components/widgets/projects.astro";
import Layout from '../layouts/layout.astro';

import { SITE } from "../config";
const {author} = SITE
---

<Layout title={`Inicio | ${author}`}>
	<main>
		<Hero />
		<Projects />
		<Footer />
	</main>
</Layout>